#wrapper{
	width: 945px; 
	margin: 0 auto;
}

header{
	background-color: #FFF;
	padding: 10px 10px 5px 10px;
	border: 1px solid #ddd;
	border-top: none;
}

h1#title{
	font-size: 24px;
}

nav{
	float: right;
	margin-top: 18px;
	margin-right: 10px;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	color: #E01B4C;
	display: inline;
	font-size: 80%;
	padding: 24px 4px 4px 4px;
	border-radius: 3px;
	margin-left: 3px;
}

nav ul li:hover, nav ul li:focus {
	background-color: #E01B4C; 
	color: white;
	cursor: pointer;
	outline: none;
}

nav ul li.active, nav ul li:active{
	border-radius: 4px;
}

#settings{
	margin-bottom:20px;
	background-color: white;
	border:1px solid #ddd;
	border-top: none;
}

#settings ul{
	list-style-type: none;
	font-size: 70%;
	margin-left: 10px;
}

#settings li{
	padding: 2px 4px;
	color: #666;
	display: inline-block;	
}

#settings li:hover{
	background-color: #1B7AE0;
	color: white;	
}

#settings li:active{
	background-color: #4B729C;
}