#wrapper{
	width: 700px;
	margin: 20px auto;
}

h1#title{
	text-shadow: -1px -1px #DDD, 1px 1px 2px #BBB;
}

nav{
	float: right;
	margin-top: 16px;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	display: inline;
	font-size: 90%;
	padding: 5px 8px;
}

nav ul li:hover, nav ul li:focus {
	background-color: #c17284;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
}

nav ul li.active, nav ul li:active{
	background-color: #E01B4C;
	color: white;
	border-radius: 4px;
}

section{
	background-color: rgba(255,255,255, 0.5);
	border: 1px dotted #bbb;
	border-radius: 5px;
	line-height: 20px;
	margin: 15px 0 0 0;
	box-shadow: 3px 3px 5px #ddd;
	font-size: 80%;
}

section a{
	color: #1877BA;
}

section ul{
	margin-left: 15px;
}

section mark{
	background-color: #FFFFD4;
}

section a:hover{
	color: #3E9BDE;
}

section .info{
	font-size: 100%;
	color: #333;
	padding-top: 15px;
	display:none;
}

section .contentPadding{
	margin:15px;
}

section h1{
	font-weight: normal;
	font-size:130%;
	margin-bottom: 18px;
	background-color: rgba(255,255,255, 0.4);
	padding: 15px;
	border-bottom:1px solid #ddd;
	color: #333;
}

section button{
	padding: 5px 12px;
	letter-spacing: 1px;
	color: white;
	background-color: #1383d8;
	border: 1px solid #1471a8;
	border-radius: 5px;
	margin-top: 10px;
	outline: none;
}

section button:hover,
section button:focus{
	box-shadow: 0px 0px 10px #84caed;
	background-color: #2f9fef;
	border-color: #298bc4;
	cursor: pointer;
}

section button:active{
	background-color: #1383d8;
}

section.left{
	width:61%;
	float:left;
}

section.right{
	width:36%;
	float:right;
}

section#register{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: #cce3ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #cce3ff 0%, #eff8ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cce3ff), color-stop(100%,#eff8ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cce3ff 0%,#eff8ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cce3ff 0%,#eff8ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cce3ff 0%,#eff8ff 100%); /* IE10+ */
	background: linear-gradient(top,  #cce3ff 0%,#eff8ff 100%); /* W3C */
}

section#login{
	background: #ffcedf; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffcedf 0%, #fcf4f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcedf), color-stop(100%,#fcf4f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffcedf 0%,#fcf4f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffcedf 0%,#fcf4f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffcedf 0%,#fcf4f5 100%); /* IE10+ */
	background: linear-gradient(top,  #ffcedf 0%,#fcf4f5 100%); /* W3C */		
}

section#localmode{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
}

section#register label, section#login label{
	color: #999;
	font-size: 90%;
	line-height: 70%;
	display: block;
	margin-top: 10px;
}

section#register input:not([type="checkbox"]), section#login input:not([type="checkbox"]){
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 3px;
	margin-top:5px;
	width: 208px;
	letter-spacing: 1px;
}

section#register .curly{
	font-size: 700%;
	color: #888;
	opacity: 0.5;
	font-family: WireOne;
	position: absolute;
	margin-left: 237px;
	margin-top: -45px;
}

section#register .submit{
	position: absolute;
	margin-top: -18px;
	margin-left: 53px;
	padding: 5px 25px;
}

section input[type=password] {
	letter-spacing: 2px;
}

section#register input:not([type="checkbox"]):focus, section#login input:not([type="checkbox"]):focus{ /* It is important to not remove the outline of focused checkboxes */
	border-color: #999;
	outline: none;
	background-color: #f9f9f9;
}

section#localmode{
	margin-top: 0;
}