#wrapper{
	width: 700px;
	margin: 20px auto;
}

header{
}

nav{
	float: right;
	margin-top: 16px;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	display: inline;
	font-size: 90%;
	padding: 5px 8px;
}

nav ul li:hover, nav ul li:focus {
	background-color: #c17284;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
}

nav ul li.active, nav ul li:active{
	background-color: #E01B4C;
	color: white;
	border-radius: 4px;
}

section{
	background-color: rgba(255,255,255, 0.5);
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px;
	line-height: 20px;
	margin: 15px 0;
	box-shadow: 3px 3px 5px #ddd;
}

section h1{
	font-weight: normal;
	font-size:130%;
	margin-bottom: 18px;
}

section button{
	padding: 5px 12px;
	letter-spacing: 1px;
	color: white;
	background-color: #1383d8;
	border: 1px solid #1471a8;
	border-radius: 5px;
	margin-top: 10px;
	outline: none;
}

section button:hover,
section button:focus{
	box-shadow: 0px 0px 10px #84caed;
	background-color: #2f9fef;
	border-color: #298bc4;
	cursor: pointer;
}

section button:active{
	background-color: #1383d8;
}

section.left{
	width:410px;
	float:left;
}

section.right{
	width:210px;
	float:right;
}

section#register label, section#login label{
	color: #999;
	font-size: 70%;
	line-height: 70%;
	display: block;
	margin-top: 10px;
}

section#register input, section#login input{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 3px;
	margin-top:5px;
	width: 198px;
	letter-spacing: 1px;
}

section#register .curly{
	font-size: 640%;
	color: #336cce;
	opacity: 0.5;
	font-family: WireOne;
	position: absolute;
	margin-left: 230px;
	margin-top: 57px;
}

section#register .submit{
	position: absolute;
	margin-top: -18px;
	margin-left: 60px;
	padding: 5px 25px;
}

section input[type=password] {
	letter-spacing: 2px;
}

section#register input:focus, section#login input:focus{
	border-color: #999;
	outline: none;
	background-color: #f9f9f9;
}




